.card-seven{
  border: 1px solid #FFCFF1;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #FFCFF1;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  background-color: whitesmoke;
}

.card-seven .card-image{
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.card-seven .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #915F6D;
}

.card-seven .card-inventory{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  color: #915F6D;
}

.card-seven .card-add{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: 1.5px solid #301934;
  color:#915F6D;
  border-radius: 5px;
  margin-right: 10px;
  background-color: whitesmoke;
}

.card-seven .card-remove{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: 1.5px solid #301934;
  color:#915F6D;
  border-radius: 5px;
  margin-right: 10px;
  background-color: whitesmoke;
}